@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  /* Target the entire scroll bar */
  ::-webkit-scrollbar {
    @apply w-2;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-white;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-md;
 }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-900 rounded-md;
  }

}
