<!DOCTYPE html>
<html>
  <head>
    <title>Email Confirmation</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      button {
        display: inline-block;
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 20px;
      }

      button:hover {
        background-color: #0062cc;
      }
    </style>
  </head>
  <body>
    <table
      style="
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        font-family: Arial, sans-serif;
        color: #333333;
        border-collapse: collapse;
      "
    >
     <tr>
        <td
          style="
            background-color: #ffffff;
            padding: 20px;
            font-size: 16px;
            line-height: 1.5;
          "
        >
          <h1 style="font-size: 24px; margin-bottom: 20px;">Email Confirmation</h1>
          <p>
            Thank you for signing up! Please click the link below to confirm your email address:
          </p>
          <p>
            <a href="<%= url %>"><button>Confirm Email Address</button></a>
         </p>
          <p>
            If you did not sign up for an account with <%= name %>, please ignore this email.
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
